.rectangle {
    margin: 5px 0;
    position: relative;
    background: #23282c;
    margin-right: 25px;
    height: 30px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.rectangle span {
    margin: 5px 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.rectangle i {
    color: white;
    z-index: 1024;
    position: absolute;
    left: 100%;
    font-size: 5px;
}
.rectangle::after {
    border-top: 15px solid transparent;
    border-left: 20px solid #23282c;
    border-bottom: 15px solid transparent;
    content: "";
    height: 0px;
    left: 100%;
    position: absolute;
    top: 0px;
    width: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}