th{
    font-size: 17px;
    line-height: 20px;
    color:  #333333;
}
#checkBox{
    width: 22px;
    height: 22px;    
}
.resetButton{
    width: 118px;
    height: 28px;
    background-color: #EB5757;
    border-radius: 5px;
    border: #EB5757;
    color: white;
    /* margin-top: 27.5px; */
 }
.col-padding-5 {
    padding-left: 5px !important;
    padding-right:5px !important;
    }